*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* HEADER */


header{
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
}

.bg-white{
    background-color: white;
}

.only-logo img{
    width: 60px;
}

.menu{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.ul__list{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.ul__list li{
    padding: 15px;
}

/* WRAPPER */


.wrapper{
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
}


/* SIDEBAR */


aside{
    height: calc(100vh - 60px);
    background-color: rgba(5,30,52,225);
    width: 150px;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.nav-top .aside-icon{
    margin-top: 15px;
}

.aside-icon{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside-icon i{
    margin-right: 10px;
}

.aside-icon ul{
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

.aside-icon li{
    padding: 10px;
    font-size: 15px;
}


/* MAIN */


main{
    width: calc(100vw - 150px);
    background-color: red;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

/* main top */

.main-top{
    width: 100%;
    background-color: rgba(27,114,232,225);
}

.my-col{
    display: flex;
    align-items: center;
}

.my-col h2{
    margin: 0 10px 0 0;
}

/* main-center */

.main-center{
    width: 100%;
    background-color: whitesmoke;
}

 .avatar img{
    width: 30px
 }

 .font-size-15{
    font-size: 10px;
 }

 .list-group input{
    margin: 10px;
 }

 .card-body p, .list-group li, .accordion-header button, table{
    color: gray;
    font-size: 13px;
 }
